body {
  /* background-color: #cbbde3; */
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background-image: url("../../images/overlay.jpg"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg003.jpg");
  background-size: auto, auto, 100% auto;
  background-position: center, center, center;
  background-repeat: repeat, no-repeat,no-repeat;
  background-attachment: scroll, scroll,scroll;
  z-index: -1;
}

.square {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 10%;
  transition: background 0.7s;
  -webkit-transition: background 0.7s;
  -moz-transition: background 0.7s;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  /* background-color: rgb(254, 113, 197); */
  background-image: url("../../images/overlay.jpg"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg005.jpg");
			background-size: auto,								auto,														100% auto;
			background-position: center,								center,														 top center;
			background-repeat: repeat,								no-repeat,													no-repeat;
			background-attachment: scroll,								scroll,														scroll;
			z-index: -1;
  margin: 0;
  padding: 20px 0;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}

#rgbCode {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: sans-serif;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  outline: none;
}

button:hover{
  color: white;
  background: steelblue;
}

#message{
  display: inline-block;
  width: 20%;
}

/* Wrapper */

#wrapper {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

  #wrapper > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212931;
    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg04.jpg");
    background-size: auto,								auto,														100% auto;
    background-position: center,								center,														top center;
    background-repeat: repeat,								no-repeat,													no-repeat;
    background-attachment: scroll,								scroll,														scroll;
    z-index: -1;
  }

    #wrapper > .bg.fixed {
      position: fixed;
      width: 100vw;
      height: 100vh;
    }

  #wrapper.fade-in:before {
    pointer-events: none;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    background: #1e252d;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  body.is-preload #wrapper.fade-in:before {
    opacity: 1;
  }

  @media screen and (orientation: portrait) {

    #wrapper > .bg {
      background-size: auto,								auto,														auto 175%;
    }

  }


